.order {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .order-title {
        text-align: center;
        font-size: 36px;
        width: 100%;
        padding: 2%;
    }

    .order-subtitle {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 10%;
        h2 {
            width: 25%;

        }
    }

    .order-detail {
        padding-left: 10%;
        padding-top: 5%;

        button {
            display: none;
        }
    }

    .total {
        width: 25%;
        align-self: flex-end;
        padding: 2%;
    }

}