.cart {
    display: flex;
    flex-direction: column;
    padding: 2%;
    text-align: center;

    .cart-title {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 2%;
        h2 {
            width: 25%;
        }

       
    }

    .no-products {
        padding-top: 5%;
    }

    .total {
        width: 25%;
        align-self: flex-end;
        padding-top: 2%;
    }

    button {
        padding: 10px;
    border-radius: 5px;      
    background-color: #691727;
    color: #fff;
    border: 1px solid #691727;
    transition-duration: 0.6s;
    width: 25%;
    align-self: flex-end;
    margin-top: 2%;
    }

    button:hover {
        border: 1px solid #691727;
    color: #691727;
    background-color: #fff;
    }

    .empty-btn {
        width: 15%;
    }
}