.card {

    width: 25%;
    padding: 20px;
    display: flex;
        flex-direction: column;
        align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
    margin: 5%;
    .product-img {

        width: 70%;
        margin-bottom: 25px;
        border-radius: 5px;
        border: 1px solid #691727;
    }

    .product-name {

        font-size: 1em;
        padding-bottom: 15px;
    }

    .item-counter {

        display: flex;
            align-items: center;
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #691727;

        p {
            width: 65%;
            text-align: center;
        }

        button {
            width: 20%;
            padding: 8px 16px;
            background-color: #691727;
            color: #fff;
            border: none;
            transition-duration: 0.6s;
        }

        button:hover {
            border: none;
            color: #691727;
            background-color: #ddd;
        }
    }

    .cart-button {
        padding: 10px;
        border-radius: 5px;      
        background-color: #691727;
        color: #fff;
        border: 1px solid #691727;
        transition-duration: 0.6s;
    }

    .cart-button:hover {
        border: 1px solid #691727;
        color: #691727;
        background-color: #fff;
    }
}