@import './components/navBar/navBar';
@import './components/itemCount/itemCount';
@import './components/itemListContainer/itemListContainer';
@import './components/itemList/itemList';
@import './components/item/item';
@import './components/itemDetail/itemDetail';
@import './components/footer/footer';
@import './components/CartItem/cartItem.scss';
@import './components/Cart/cart';
@import './components/orderForm/orderForm';

//font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}